.dialogs {
  display: flex;
  width: 100%;
  background-color: #1A1D25;
}
.dialogs_items {
  border-right: 1px solid #00ccff;
}
.dialog_item {
  border: 1px solid #00ccff;
  border-right: none;
  padding: 5px;
}
.users_items {
  background-color: #232631;
}
.messages_items {
  background-color: #1A1D25;
}