.posts {
  margin-top: 10px;
}
.add_post {
  border-radius: 20px 20px 0 0;
  padding: 10px;
  background-color: #191C21;
}
.btn {
  margin: 5px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
  cursor: pointer;
  color: #fff;
  background-color: #387DFF;
}
.form {
  display: flex;
}