.posts {
  margin-top: 10px;
}
.add_post {
  border-radius: 20px 20px 0 0;
  padding: 10px;
  background-color: #232631;
}
.textarea {
  margin-left: 20px;
  border-radius: 7px;
  padding: 5px;
  height: 30px;
}